<!DOCTYPE html>
<html>
    <head>
        <title>Autori</title>
		<link rel="stylesheet" href="/css/stile1.css" />
		<link rel="stylesheet" href="/css/stile.css"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
    </head>
	
	<header>
    	<div class="logo">SIW Books</div>
	  	<nav>
			<a th:href="@{/}"><button>Home</button></a>
			<a th:href="@{/libro}"><button>Libri</button></a>
			<a th:href="@{/login}"><button>Login</button></a>
	  	</nav>
    </header>
		
    <body>
        <div>
            <h1>Elenco degli autori</h1>
            <div th:if="${autori.isEmpty()}">Non sono presenti autori</div>
            <ul>
                <li th:each="autore: ${autori}">
                    <a th:href="@{'/autore'+'/'+ ${autore.id}}" th:text="|${autore.nome} ${autore.cognome}|">Nome Cognome</a>
                </li>
            </ul>			
			<span><a th:href="@{/aggiornaAutori}"><button type="button">Aggiorna</button></a></span>
			<div><a th:href="@{/}"><button type="button">Home</button></a></div>
        </div>
    </body>
</html>