<!DOCTYPE html>
<html>
    <head>
        <title>Autore</title>
		<link rel="stylesheet" href="/css/stile1.css" />
        <link rel="stylesheet" href="/css/stile2.css"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
    </head>

    <body>
		
		<header>
			<div class="logo">SIW Books</div>
			<nav>
				<a th:href="@{/}"><button>Home</button></a>
				<a th:href="@{/libro}"><button>Libri</button></a>
				<a th:href="@{/autore}"><button>Autori</button></a>
				<a th:href="@{/login}"><button>Login</button></a>
			</nav>
		</header>
		
		<div style="display: flex; flex:1;">
	    	<div class="container-obj" th:if="${autore}">
	        	<h1 th:text="|${autore.nome} ${autore.cognome}">Nome Cognome</h1>
				<p class="importante">Data di nascita: <span th:text="${autore.dataNascita}">1900</span></p>
				<p class="importante" th:if="${autore.dataMorte}">Data di scomparsa: <span th:text="${autore.dataMorte}"></span></p>
	        	<p class="importante">Nazionalità: <span th:text="${autore.nazionalita}">Italiana</span></p>
				<p class="importante">Libri:</p>
				<div class="cliccabile">
			  		<span th:if="${libri.isEmpty()}">Non è presente nessun libro</span>
			  		<span th:unless="${libri.isEmpty()}">
						<ul>
							<li th:each="libro: ${libri}">
								<a th:href="@{'/libro/' + ${libro.id}}" th:text="${libro.titolo} + ' (' + ${libro.anno} + ')'">Titolo (2003)</a>
							</li>
						</ul>
			  		</span>
				</div>
				
				<p class="importante">Trama:</p>
				<div class="testo">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				</div>
			</div>
			<div class="foto">
				<img src="https://www.altrasoluzione.com/images/blog/siti-per-scaricare-immagini-gratis-legalmente/immagini-gratis-big.jpg"/>
			</div>
   		</div>	
		
		<footer>
			&copy; 2025 Siw Books
		</footer>
    
    </body>
</html>