<!DOCTYPE html>
<html>
	<head>
		<title>Modifica libro</title>
		<link rel="stylesheet" href="/stile.css?version=2"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
	</head>
	<body>
		<h1>Modifica il libro</h1>
		<form th:action="@{'/modificaLibro/' + ${libro.id}}" method="POST" th:object="${libro}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err: ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			
			<div>
				<label>Titolo:</label>
				<span><input type="text" th:field="${libro.titolo}"/></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>
			<div>
				<label>Anno:</label>
				<span><input type="text" th:field="${libro.anno}"/></span>
				<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
				<div><a th:href="@{'/modificaLibro/' + ${libro.id}}"><button type="button">Annulla</button></a></div>
			</div>
		</form>
	</body>
</html>