<!DOCTYPE html>
<html>
	<head>
		<title>Modifica libro</title>
		<link rel="stylesheet" href="/css/stile1.css"/>
		<link rel="stylesheet" href="/css/form.css"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />		
	</head>
	<body>		
		<header>
			<div class="logo"><a href="/"><img src="/images/piuma.jpg" width="2%"/></a> SIW Books</div>
			<nav>
				<span th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a th:href="@{/logout}"><button>Logout</button></a>
				</span>
				<span th:unless="${userDetails}">
					<a th:href="@{/login}"><button>Login</button></a>
				</span>
			</nav>
		</header>		
		
		<form th:action="@{'/admin/modificaLibro/' + ${libro.id}}" method="POST" th:object="${libro}">
			<h1>Modifica il libro</h1>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err: ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			
			<div>
				<label>Titolo:</label>
				<span><input type="text" th:field="${libro.titolo}"/></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>
			<div>
				<label>Anno:</label>
				<span><input type="text" th:field="${libro.anno}"/></span>
				<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
				<span><a th:href="@{'/libro/' + ${libro.id}}"><button type="button">Annulla</button></a></span>
			</div>
		</form>
		<footer>
			&copy; 2025 Siw Books
		</footer>		
	</body>
</html>