html, body{
  height: 100%;
  background-color: tan;
  
}

header{
  border: solid;
  height: 6%;
  text-align: right;
}

#info{
  border: solid;
  height: 40%;
  padding:1%;
}

.elenco{
  border: solid;
  width: 50%;
  margin:2%;
  padding:1%;
}

#pulsanti{
  border: solid; 
  padding: 1%;
  margin-top: 2%;
}

button {
  margin: 1%;
  padding: 1%
}

#recensioni{
  
  display: flex;
  flex-direction: column;
  height: 500%;
  ul{
    
    /*display: flex;*/
    list-style-type: none;
    border:solid;
    overflow-y: auto;
    height: 10%;
 
     li{
       /*display: flex;*/
    border:solid;
    margin-right: 10%;
    padding-left: 1%;
    }
  
  }
  
 
}