<!DOCTYPE html>
<html>
    <head>
        <title>Autore</title>
        <link rel="stylesheet" href="/stile.css?version=2"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
    </head>

    <body>
        <div>
            <div th:if="${autore}"> <h1 th:text="|${autore.nome} ${autore.cognome}|">Nome Cognome</h1>
		        <div>Data di nascita: <span th:if="${autore}" th:text="${#temporals.format(autore.dataNascita, 'dd-MM-yyyy')}">2003</span></div>
				<div th:if="${autore.dataMorte != null}">Data di morte: <span th:text="${#temporals.format(autore.dataMorte, 'dd-MM-yyyy')}"></span></div>
				<div>Nazionalità: <span th:if="${autore.nazionalita!=null}" th:text="${autore.nazionalita}">non specificata</span>
					<!-- non so se serve: <span th:unless="${autore.nazionalita !=null}">non specificata</span>-->
				</div>
			</div>
        </div>
        <div th:unless="${autore}">Non c'è nessun autore</div>
		<div>
            <h2>Elenco dei libri dell'autore</h2>
            <div th:if="${libri.isEmpty()}">Non sono presenti libri</div>
            <div th:unless="${libri.isEmpty()}">
				<ul>
	                <li th:each="libro: ${libri}">
	                    <a th:href="@{'/libro'+'/'+ ${libro.id}}" th:text="|${libro.titolo} ${libro.anno}|">titolo (2003)</a>
					</li>
	            </ul>
			</div>	
					
		</div>
		<div>
			<a th:href="@{/autore}">
				<button type="button">Elenco degli autori</button>
			</a>
		</div>
    </body>
</html>