<!DOCTYPE html>
<html>
    <head>
        <title>Libro</title>
        <link rel="stylesheet" href="/stile.css?version=2"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
    </head>

    <body>
        <div>
            <div th:if="${libro}"> <h1 th:text="${libro.titolo}">Titolo Libro</h1></div>
            <div>Anno di pubblicazione: <span th:if="${libro}" th:text="${libro.anno}">2003</span></div>
        </div>
		<div th:if="${libro}">
			<span th:if="${autori.isEmpty()}">Non sono presenti autori</span>
			<span th:unless="${autori.isEmpty()}">
				<ul>
					<li th:each="autore: ${autori}">
						<a th:href="@{'/autore/' + ${autore.id}}" th:text="|${autore.nome} ${autore.cognome}|">Rita Tiani</a>
					</li>
				</ul>
			</span>
		</div>
        <div th:unless="${libro}">Non sono presenti libri</div>
		
		<div>
			<a th:href="@{/libro}">
				<button type="button">Elenco dei libri</button>
			</a>
		</div>
    </body>
</html>