<!DOCTYPE html>
<html>
	<head>
		<title>Modifica libro</title>
		<link rel="stylesheet" href="/stile.css?version=2"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
	</head>
	<body>
		<div>
		    <div th:if="${libro}"> <h1 th:text="${libro.titolo}">Titolo Libro</h1></div>
		    <div>Anno di pubblicazione: <span th:if="${libro}" th:text="${libro.anno}">2003</span></div>
		</div>
        <div th:unless="${libro}">Questo libro non è presente</div>
		<div>
			<a th:href="@{'/formModificaLibro/' + ${libro.id}}"><button type="button">Modifica dati</button></a>
<!--			<a th:href="@{'/modificaAutori/' + ${libro.id}"><button type="button">Modifica autori</button> </a>-->
			<a th:href="@{/aggiornaLibri}"><button type="button">Indietro</button></a>
		</div>
	</body>
</html>